<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.czboy.mapper.ArticleDao">

    <resultMap id="a1" type="Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="cover" property="cover"/>
        <result column="description" property="description"/>
    </resultMap>

    <select id="listArticle" resultMap="a1">
      select ID,
      TITLE,
      COVER,
      DESCRIPTION
      from T_ARTICLE
      order by HOT_VALUE desc limit 0,6;
   </select>

    <select id="getArticleDetails" parameterType="String" resultType="Article">
        select ID,
        TITLE,
        CONTENT,
        CREATE_TIME as CREATETIME,
        STAR,
        LABEL,
        HOT_VALUE as HOTVALUE
        from T_ARTICLE where ID = #{id} and VISIBLE = 'YES'
    </select>

    <select id="listTypeArticle" parameterType="String" resultMap="a1">
      select ID,
      TITLE,
      COVER,
      DESCRIPTION
      from T_ARTICLE
      where CLASS_ID = #{classId}
      order by HOT_VALUE desc limit 0,6;
    </select>

    <insert id="addArticle" parameterType="Article">
        insert into article () values()
    </insert>
</mapper>